@charset "utf-8";

*, :after, :before {box-sizing:border-box;}
html, body {font-family:'Noto Sans KR', 'Malgun Gothic', sans-serif; font-size:14px; color:#000; letter-spacing: -0.6px;}

/* scrollbar */
::-webkit-scrollbar {-webkit-appearance:none; height:7px; width:7px;}
::-webkit-scrollbar-thumb {background: #D7D9DF; border-radius:0;}
::-webkit-scrollbar-thumb:hover {background:#b2b4bd;}
::-webkit-scrollbar-thumb:horizontal{background: #D7D9DF; border-radius:0;}

/* placeholder */
::-webkit-input-placeholder {color: #adadad; font-size:13px; font-weight: 300;}
::placeholder {color: #adadad; font-size:13px; font-weight: 300;}

/* form */
input:focus, textarea:focus {border-color:#000;}
input[disabled], select[disabled] {background:#f5f7f9; -webkit-appearance: none;}
textarea {resize: none;}
table th {text-align:left;}

/* heading & font-size */
h1, h2, h3, h4, h5, h6 {font-weight:500;}
.h1, h1 { font-size: 34px !important;}
.h2, h2, .ft-massive { font-size: 28px !important;}
.h3, h3, .ft-huge { font-size: 24px !important;}
.h4, h4, .ft-big { font-size: 20px !important;}
.h5, h5, .ft-large { font-size: 18px !important;}
.h6, h6, .ft-medium { font-size: 16px !important;}
.ft-default {font-size:14px !important;}
.ft-small {font-size:13px !important;}
.ft-tiny {font-size:11px !important;}

/* a */
a {color:#172b4d;}
a, button {padding:0; background:inherit; border:none; appearance: none; -webkit-appearance: none;}
a, a:active, a:hover, button {text-decoration:none;}
a:hover, button:hover {cursor: pointer;}
.link {color:#3182f6;}
.link:hover {text-decoration: underline;}
.hover:hover {text-decoration: underline;}
.underline {text-decoration: underline;}

/* font-color */
.essential {color:#ff003e;}

.ft-white {color:#fff;}
.ft-black {color:#000;}
.ft-darkgray {color:#767676;}
.ft-gray {color:#a6a6a6;}
.ft-lightgray {color:#dadada;}
.ft-red {color:#ff003e;}
.ft-green {color:#33C534;}
.ft-blue, .ft-primary {color: #3182f6;}
.ft-purple {color:#8639B4;}

mark {font-weight:600; background:transparent; color:inherit;}

/* font-wieght */
b, .b {font-weight:500;}

.ft-100 {font-weight:100 !important;}
.ft-300 {font-weight:300 !important;}
.ft-400 {font-weight:400 !important;}
.ft-500 {font-weight:500 !important;}
.ft-600 {font-weight:600 !important;}

/* background */
.bg-main {background:#F5F7FA;}
.bg-lightgray {background:#f7f7f7;}
.bg-lightyellow {background:#ffffc2;}
.bg-lightpurple {background:#f4edff;}

/* border */
.bdr {border-style:solid; border-width:1px;}
.bdr-blue {border-color:#4D94FF;}
.bdr-purple {border-color:#8639B4;}
.bdr-gray {border-color:#ccc;}

/* ellipsis */
.ellipsis {overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap;}
.ellipsis.line-clamp-1 {line-height:1.5; max-height:1.5em; white-space:normal;  word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all;}
.ellipsis.line-clamp-2 {line-height:1.5; max-height:3.0em; white-space:normal;  word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}
.ellipsis.line-clamp-3 {line-height:1.5; max-height:4.5em; white-space:normal;  word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-break: break-all;}

/* display */
.dp-flex { display:flex; display: -ms-flexbox; display: -webkit-flex ; align-items: center; align-content: center;}
.dp-inflex {display: inline-flex;}
.dp-block { display:block;}
.dp-inline { display:inline;}
.dp-inblock { display:inline-block;}
.dp-table { display:table;}

/* align */
.align-left {text-align:left !important;}
.align-right {text-align:right !important;}
.align-center {text-align:center !important;}

.vertical-top {vertical-align: top !important; align-items: flex-start !important;}
.vertical-middle {vertical-align: middle !important; align-items: center !important;}
.vertical-bottom {vertical-align: bottom !important; align-items: flex-end !important;}

/* padding */
.p-all-10 {padding:10px !important;}
.p-all-20 {padding:20px !important;}
.p-all-30 {padding:30px !important;}

/* margin */
.mr-auto {margin-right:auto;}
.ml-auto {margin-left:auto;}

.mt-5 {margin-top:5px;}
.mt-10 {margin-top:10px;}
.mt-20 {margin-top:20px;}
.mt-30 {margin-top:30px;}
.mt-40 {margin-top:40px;}

.mr-5 {margin-right:5px;}
.mr-10 {margin-right:10px;}
.mr-15 {margin-right:15px;}
.mr-20 {margin-right:20px;}

.ml-5 {margin-left:5px;}
.ml-10 {margin-left:10px;}
.ml-20 {margin-left:20px;}

.mb-5 {margin-bottom:5px;}
.mb-10 {margin-bottom:10px;}
.mb-20 {margin-bottom:20px;}
.mb-30 {margin-bottom:30px;}

/* space */
.space-10 {margin-bottom:10px;}
.space-15 {margin-bottom:15px;}
.space-20 {margin-bottom:20px;}
.space-30 {margin-bottom:30px;}
.space-40 {margin-bottom:40px;}
.space-60 {margin-bottom:60px;}
.space-80 {margin-bottom:80px;}
.space-100 {margin-bottom:100px;}

/* width */
.w-100 {width:100% !important;}

/* flex */
.flex-1 {flex:1;}

/* no- */
.no-margin { margin:0px !important;}
.no-padding { padding:0px !important;}
.no-padding-top {padding-top:0px !important;}
.no-border { border:none !important;}

/* grid */
.row {display: flex; flex-wrap:wrap; margin-right:-15px; margin-left:-15px;}
[class*="col-"] {position: relative; min-height:1px; float:left; padding-right:15px; padding-left:15px;}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

