@charset "utf-8";

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j1kcra');
  src:  url('../fonts/icomoon.eot?j1kcra#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j1kcra') format('truetype'),
    url('../fonts/icomoon.woff?j1kcra') format('woff'),
    url('../fonts/icomoon.svg?j1kcra#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-billing-beta:before {
  content: "\e904";
}
.icon-billing-ea:before {
  content: "\e905";
}
.icon-bookmark:before {
  content: "\e906";
}
.icon-bookmark-add:before {
  content: "\e907";
}
.icon-categories:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-download:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-log:before {
  content: "\e90c";
}
.icon-management:before {
  content: "\e90d";
}
.icon-monitoring:before {
  content: "\e90e";
}
.icon-monthly:before {
  content: "\e90f";
}
.icon-sr:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e911";
}

