@charset "utf-8";

@font-face {
  font-family: 'icomoon';
  /* src:  url('../fonts/icomoon.eot?j1kcra');
  src:  url('../fonts/icomoon.eot?j1kcra#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j1kcra') format('truetype'),
    url('../fonts/icomoon.woff?j1kcra') format('woff'),
    url('../fonts/icomoon.svg?j1kcra#icomoon') format('svg'); */
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aaa-arrow-drop-down:before {
  content: "\e900";
}
.icon-aaa-arrow-drop-up:before {
  content: "\e901";
}
.icon-aaa-sorting:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
.icon-add-circle-outline:before {
  content: "\e904";
}
.icon-arrow-back:before {
  content: "\e905";
}
.icon-arrow-downward:before {
  content: "\e906";
}
.icon-arrow-drop-down:before {
  content: "\e907";
}
.icon-arrow-drop-up:before {
  content: "\e908";
}
.icon-arrow-forward:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-arrow-upward:before {
  content: "\e90c";
}
.icon-assignment:before {
  content: "\e90d";
}
.icon-attach-file:before {
  content: "\e90e";
}
.icon-bar-chart:before {
  content: "\e90f";
}
.icon-book:before {
  content: "\e910";
}
.icon-business-card:before {
  content: "\e911";
}
.icon-calendar-month:before {
  content: "\e912";
}
.icon-chat:before {
  content: "\e913";
}
.icon-check:before {
  content: "\e914";
}
.icon-check-circle:before {
  content: "\e915";
}
.icon-chevron-down:before {
  content: "\e916";
}
.icon-chevron-left:before {
  content: "\e917";
}
.icon-chevron-right:before {
  content: "\e918";
}
.icon-chevron-up:before {
  content: "\e919";
}
.icon-close:before {
  content: "\e91a";
}
.icon-cloud:before {
  content: "\e91b";
}
.icon-cloud-upload:before {
  content: "\e91c";
}
.icon-contact-support:before {
  content: "\e91d";
}
.icon-create:before {
  content: "\e91e";
}
.icon-dashboard:before {
  content: "\e91f";
}
.icon-delete:before {
  content: "\e920";
}
.icon-domain:before {
  content: "\e921";
}
.icon-double-arrow-down:before {
  content: "\e922";
}
.icon-double-arrow-left:before {
  content: "\e923";
}
.icon-double-arrow-right:before {
  content: "\e924";
}
.icon-double-arrow-up:before {
  content: "\e925";
}
.icon-error-outline:before {
  content: "\e926";
}
.icon-file-download:before {
  content: "\e927";
}
.icon-file-upload:before {
  content: "\e928";
}
.icon-global:before {
  content: "\e929";
}
.icon-highlight-off:before {
  content: "\e92a";
}
.icon-info:before {
  content: "\e92b";
}
.icon-insights:before {
  content: "\e92c";
}
.icon-logout:before {
  content: "\e92d";
}
.icon-menu:before {
  content: "\e92e";
}
.icon-menu-book:before {
  content: "\e92f";
}
.icon-minus:before {
  content: "\e930";
}
.icon-more-horiz:before {
  content: "\e931";
}
.icon-notifications:before {
  content: "\e932";
}
.icon-people:before {
  content: "\e933";
}
.icon-phone:before {
  content: "\e934";
}
.icon-receipt-long:before {
  content: "\e935";
}
.icon-search:before {
  content: "\e936";
}
.icon-setting:before {
  content: "\e937";
}
.icon-sorting:before {
  content: "\e938";
}
.icon-support-agent:before {
  content: "\e939";
}
.icon-work-outline:before {
  content: "\e93a";
}
