@charset "utf-8";

html, body {height:100%;}

#wrapper {width:100%; height:100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch; align-content: stretch;}
#gnb {position:fixed; top:0; right:0; left:0; height:100px; flex:1; display:flex; align-items:center; background:#fff; z-index:2; border-bottom:2px solid #E3E3E3;}
#gnb::before {content: ''; position: fixed; top:0; right:0; left:0; display: block; width:100%; height: 4px; background-image: linear-gradient(to right, #642977, #4D29DD);}
#container {padding-top:100px; display: flex;flex-direction: row;justify-content: flex-start;align-items: stretch;align-content: stretch;}
#leftmenu {display: flex; flex-direction: column; justify-content: space-between; position: fixed; top:100px; width:290px; height:calc(100vh - 100px); background:#fff; box-shadow: rgb(0 0 0 / 13%) 0px 1.6px 3.6px 0px, rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px; z-index: 1;}
#contents {flex:1; height:calc(100vh - 100px); margin-left:280px;}
#contents[role="tutorial"] {margin-left:0;}
#contents[role="tutorial"]:after {content: ''; display: block; position: fixed; bottom:-50%; left:0; right:0; width:100%; height:100%; /* background-image: url(../images/bg_tutorial.png); */ background-repeat: no-repeat; background-size:cover; z-index: -1;}
#contents .page-inner {padding:55px;}

#gnb .left-gnb {display: flex; align-items: center; height: 100%; width:280px;}
#gnb .left-gnb .logo {display: inline-block; padding:8px 60px 0 60px; height:100%;}
#gnb .right-gnb {display: flex; align-items: center; height: 100%; margin-left: auto; padding-right:60px;}
#gnb .right-gnb .item {position: relative;}
#gnb .right-gnb .item .btn-gnb {width:50px; height:50px; display: flex; flex: 0 0 auto; align-items: center; justify-content: center; position: relative; background:#F9F9F9; border:1px solid #E8E8E8; color:#868686; border-radius:100px; margin-left:20px;}
#gnb .right-gnb .item .btn-gnb > i {font-size:18px;}
#gnb .center-gnb * {overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap;}

.gnb-layer.select {background:#EAE9F1 !important; color:#642977 !important;}
.gnb-layer + .gnb-container {display: none;}
.gnb-layer.select + .gnb-container {display: block;}

.gnb-container {display: none; width:400px; height:415px; overflow: auto; position: absolute; top:60px; right:0; background: #fff; border:2px solid #E8E8E8;}
.gnb-container .inner {display: flex; flex-direction: column; height:100%; overflow: auto;}
.gnb-container .header-ly {display: flex; align-items: center; padding:20px; border-bottom:1px solid #E8E8E8;}
.gnb-container .header-ly .right .btn-ly {width:50px; height:50px;}
.gnb-container .body-ly {overflow: auto; height:100%;}

.gnb-search-wrap {display: flex; align-items: center; align-content: center;}
.gnb-search-wrap .item {margin-left:20px;}
.gnb-search-wrap .item.cloud select {width:160px;}
.gnb-search-wrap .item.company select {width:320px;}
.gnb-search-wrap .item.subscription select {width:480px;}
@media (max-width: 1600px) {
    #wrapper {min-width:1600px;}
    .gnb-search-wrap .item.cloud select {width:100px !important;}
    .gnb-search-wrap .item.company select {width:150px !important;}
    .gnb-search-wrap .item.subscription select {width:200px !important;}
  }

#leftmenu .leftmenu-inner {height:calc(100vh - 205px); padding:10px; display: flex; flex-direction: column; justify-content: space-between;}
.footer {height:70px; background:#F6F6F6; border-radius:10px; padding:17px 20px; margin:20px; color:#868686; font-family: 'Poppins', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;}

.page-heading {position: relative; display: flex; justify-content: space-between; align-items: center; align-content: center; padding:0 30px; width: 100%; min-height:120px; background:#fff; border:1px solid #D8D8D8; border-radius:10px; margin-bottom:20px;}
.page-heading .title h3 {font-weight:600;}

.alphabet-pr {width:100px; height:100px; display: block; border-radius: 10px; overflow: hidden;  display: flex; flex: 0 0 auto; align-items: center; justify-content: center; position: relative; background:#3182f6;}
.alphabet-pr em {width:100%; height:100%; border-radius: 100px; overflow: hidden;  display: flex; flex: 0 0 auto; align-items: center; justify-content: center; position: relative; color:#fff; user-select: none; font-weight: 600;}
.alphabet-pr em {font-size:20px; padding-bottom: 2px;}
