@charset "utf-8";

html, body {height:100%;}

#wrapper {width:100%; height:100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch; align-content: stretch;}
#gnb {position:fixed; top:0; right:0; left:0; height:52px; flex:1; display:flex; align-items:center; background:#fff; z-index:2; box-shadow: rgb(9 30 66 / 6%) 0px 0px 0px 1px, rgb(9 30 66 / 6%) 0px 2px 8px, rgb(9 30 66 / 28%) 0px 0px 9px -4px;}
#container {padding-top:52px; display: flex;flex-direction: row;justify-content: flex-start;align-items: stretch;align-content: stretch;}
#leftmenu {position: fixed; top:52px; width:260px; height:calc(100vh - 52px); padding:20px 0; overflow-y:auto; overflow-x:hidden; background:#fff; box-shadow: rgb(0 0 0 / 13%) 0px 1.6px 3.6px 0px, rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px; z-index: 1;}
#contents {flex:1; height:calc(100vh - 52px); margin-left:260px;}
#contents[role="tutorial"] {margin-left:0;}
#contents[role="tutorial"]:after {content: ''; display: block; position: fixed; bottom:-50%; left:0; right:0; width:100%; height:100%; /* background-image: url(../../images/bg_tutorial.png); */ background-repeat: no-repeat; background-size:cover; z-index: -1;}
#contents .page-inner {padding:30px; padding-bottom:60px;}

#gnb .left-gnb {display: flex; align-items: center; height: 100%; width:260px;}
#gnb .left-gnb .logo {display: inline-block; padding:0 20px;}
#gnb .right-gnb {display: flex; align-items: center; height: 100%; margin-left: auto;}
#gnb .right-gnb .item .btn-gnb {width:52px; height:52px; display: flex; flex: 0 0 auto; align-items: center; justify-content: center; position: relative;}
#gnb .right-gnb .item .btn-gnb > i {font-size:18px;}
#gnb .right-gnb .item .btn-gnb .img-user {width:32px; height:32px;}
#gnb .right-gnb .item .btn-gnb .img-user .user-alphabet {font-size:14px; padding-bottom: 0;}

.gnb-layer.open, .btn-gnb:hover {background:#172b4d; color:#fff;}
.gnb-layer .icon-close {display: none;}
.gnb-layer.open .icon-close {display: block; font-size:15px !important;}
.gnb-layer.open .default {display: none !important;}
.gnb-layer + .gnb-container {display: none;}
.gnb-layer.open + .gnb-container {display: block;}

.gnb-container {display: none; width:360px; height:100%; overflow: auto; position: fixed; top:52px; right:0; background: #fff; box-shadow: rgb(0 0 0 / 13%) 0px 1.6px 3.6px 0px, rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px;}
.gnb-container .inner {display: flex; flex-direction: column; height:100%; overflow: auto;}
.gnb-container .header-ly {display: flex; align-items: center; min-height: 50px;}
.gnb-container .header-ly .left {padding-left:20px;}
.gnb-container .header-ly .right {margin-left:auto;}
.gnb-container .header-ly .right .btn-ly {width:50px; height:50px;}
.gnb-container .body-ly {overflow: auto; padding: 0 20px 20px 20px;}
.gnb-container .body-ly,
.gnb-container .body-ly .tabs,
.gnb-container .body-ly .tabs .tab-content-wrap,
.gnb-container .body-ly .tabs .tab-content-wrap .tab-content {height:100%;}
.gnb-container .body-ly .tabs {display: flex; flex-direction: column;}
.gnb-container .not-found {height:100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom:30%;}
.gnb-container .not-found img {margin-bottom: 30px;}

.project-toggle {position: relative; padding:0 20px; height:36px; font-size:16px; font-weight: 600; background:#f3f5f7; border-radius:4px;}
.project-toggle:hover {background:#ddd;}
.project-toggle.open {background:#fff;}
.project-toggle.open:after {content: ''; display: block; width:100%; height:2px; background:#172b4d; position: absolute; left:0; bottom:-8px;}
.project-toggle i {display: inline-block; font-size:12px; margin-right:0; margin-left:10px; transition:0.6s;}
.project-toggle.open i {transform: rotate(180deg);}
.project-toggle + .project-container {display: none;}
.project-toggle.open + .project-container {display: block;}

.project-container {display: none;}
.project-container .project-bg {position:fixed; left:0; top:52px; width:100%; height:100%; background-color:rgb(0,0,0); background-color:rgba(9, 5, 26, 0.3); z-index:99998;}
.project-container .project-wrap {background:#fff; border-top:1px solid #ddd; width:100%; height:80vh; padding:60px 7% 40px 7%; overflow: auto; position: fixed; top:52px; left:0; right:0; box-shadow: rgb(0 0 0 / 13%) 0px 1.6px 3.6px 0px, rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px; z-index:99999;}
.project-container .header-pr {display: flex; align-items: center; justify-content: center; margin-bottom:40px;}
.project-container .header-pr .title {font-size:24px !important; font-weight: 600;}
.project-container .header-pr .company {color:#3182f6;}
.project-container .body-pr {display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center;}
.project-container .body-pr > .dp-flex {position: relative; justify-content: center; width: 100%;}
.project-container .body-pr > .dp-flex button {position: absolute; right:0;}
.project-container .search-wrap input {width:500px;}

.project-item-wrap {margin:40px 0 40px 0; padding:20px 0 20px 0; background:#fff; border-top:1px solid #ccc; border-bottom:1px solid #ccc; width:100%; height:384px;}
.project-item-wrap li {display: inline-block; width:calc(20% - 10px); padding:10px;}
.project-item-wrap .item-pr {display: flex; padding:20px 15px; border:1px solid #ddd; transition:0.2s;}
.project-item-wrap .item-pr:hover {background:#fff; border-color:#3182f6; cursor: pointer;}
.project-item-wrap .item-pr.selected {background:#eef5ff; border-color:#3182f6;}
.project-item-wrap .item-pr .alphabet-pr {margin-right:10px;}
.project-item-wrap .item-pr .text,
.project-item-wrap .item-pr .text h6,
.project-item-wrap .item-pr .text p {flex:1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.alphabet-pr {width:52px; height:52px; display: block; border-radius: 10px; overflow: hidden;  display: flex; flex: 0 0 auto; align-items: center; justify-content: center; position: relative; background:#3182f6;}
.alphabet-pr em {width:100%; height:100%; border-radius: 100px; overflow: hidden;  display: flex; flex: 0 0 auto; align-items: center; justify-content: center; position: relative; color:#fff; user-select: none; font-weight: 600;}
.alphabet-pr em {font-size:20px; padding-bottom: 2px;}

.project-item-wrap li:nth-child(1) .alphabet-pr,
.project-item-wrap li:nth-child(7n+1) .alphabet-pr {background:#2C98F0;}
.project-item-wrap li:nth-child(2) .alphabet-pr,
.project-item-wrap li:nth-child(8n+1) .alphabet-pr {background:#1FBBD1;}
.project-item-wrap li:nth-child(3) .alphabet-pr,
.project-item-wrap li:nth-child(9n+1) .alphabet-pr {background:#159588;}
.project-item-wrap li:nth-child(4) .alphabet-pr,
.project-item-wrap li:nth-child(10n+1) .alphabet-pr {background:#1DAAF1;}
.project-item-wrap li:nth-child(5) .alphabet-pr,
.project-item-wrap li:nth-child(11n+1) .alphabet-pr {background:#384146;}
.project-item-wrap li:nth-child(6) .alphabet-pr,
.project-item-wrap li:nth-child(12n+1) .alphabet-pr {background:#4154B2;}
.project-item-wrap li:nth-child(7) .alphabet-pr,
.project-item-wrap li:nth-child(13n+1) .alphabet-pr {background:#617D89;}

.project-not-found {width:100%; height:50vh; min-height:384px; display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center; text-align: center; margin-top:40px; background-image: linear-gradient(to right, #faf0ff, #f0f7ff); border-radius:20px;}
.project-not-found button {width:300px; height:54px; font-size:18px; border-radius:4px;}