
@font-face {
  font-family: "HaboroSoft";
  font-weight: 50;
  src: url("fonts/HaboroSoftNorm-Regular.ttf") format("truetype");
}

:root {
  --thema-color: #682A7D;
}

.container {
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-top: var(--thema-color);
  border-color: var(--thema-color);
  border-width: 3px 0 0 0;
  border-style: solid;
}

.logo {
  width: 280px;
  height: 60px;
  margin: 30px;
  background-image: url("images/clooops_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome {
  font-family: "HaboroSoft";
  font-size: 0.8em;
  margin-top: 3px;
  margin-bottom: 3px;
}

.bold {
  font-weight: 600;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.input_form {
  width: 290px;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border: 0.5px solid #eee;
  background-color: #f9f9f9;
  font-size:0.5em;
  margin-top: 5px;
}

.input_form:focus{
  outline: none;
}

.btn_login {
  background-color: var(--thema-color);
  color:white;
  font-size: 0.7em;
  width: 320px;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.copyrignt {
  margin-top: 30px;
  text-align: center;
}

.copyrignt > p {
  color: #888888;
  font-family: "HaboroSoft";
  font-size: 0.4em;
  margin-top: 5px;
  margin-bottom: 5px;
}